@charset "utf-8";
/* CSS Document */

/* css 초기화*/


a {
  color: inherit;
  text-decoration: none;
}

#bed {
    height: 104%;
    width: 15%;
    position: absolute;
    background-color: white;
    z-index: 20;
    top: 26%;
    right: 26%;
    cursor: pointer;
    opacity: 0;
}


#room_slide {
    width: 93%;
    height: 64%;
    position: relative;
    /* overflow: hidden; */
    left: -120%;
    top: 18%;
    transition-property: left;
    transition-duration: 1.2s;
}
div#click {
  width: 96%;
  height: 74%;
  cursor: pointer;
  z-index: 300;
  /* background-color: yellowgreen; */
}
#room_img {
  background-color: initial;
}

.imgSlide {
  width: 2976px;
  /* 이미지 크키 X 이미지 개수 */
  height: 320px;
  position: absolute;
  z-index: 1;
 
}

.imgSlide img {
    width: 27%;
}

.moveBtn {
  width: 800px;
  color: white;
  top: 35%;
  position: absolute;
  z-index: 2;
  font-size: 60px;
}

.moveBtn .pre {
  float: left;
  margin-left: 10px;
}

.moveBtn .next {
  float: right;
  margin-right: 10px;
}