html{
    background: url('/Front/img/원본포레스트.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.name{
    font-family: 'BRBA_B';
    font-size: 180px;
    font-style: italic;
    color: whitesmoke;
    transform: translate(150px, 250px);
}
ul.music {
    position: absolute;
    width: 180px;
    height: 44px;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    list-style-type: none;
    padding: 0;
    transform: rotateX(180deg);
    
}


ul li {
    position: relative;
    float: left;
    left: 0;
    margin: auto 2px;
    background-color: white;
    width: 5px;
    height: 25px;
    border-radius: 50px;
}

#bar1 {
    animation: groove_1 0.8s infinite;
    animation-timing-function: linear;
}

#bar2 {
    animation: groove_2 1s infinite;
    animation-timing-function: linear;
}

#bar3 {
    animation: groove_3 0.9s  infinite;
    animation-timing-function: linear;
}

#bar4 {
    animation: groove_1 0.9s infinite;
    animation-timing-function: linear;
}
#bar5 {
    animation: groove_3 1s infinite;
    animation-timing-function: linear;
}
#bar6 {
    animation: groove_1 0.8s infinite;
    animation-timing-function: linear;
}
#bar7 {
    animation: groove_3 0.9s  infinite;
    animation-timing-function: linear;
}
#bar8 {
    animation: groove_2 1s infinite;
    animation-timing-function: linear;
}
#bar9 {
    animation: groove_1 1.2s infinite;
    animation-timing-function: linear;
}
#bar10 {
    animation: groove_2 0.9s infinite;
    animation-timing-function: linear;
}
#bar11 {
    animation: groove_1 1s infinite;
    animation-timing-function: linear;
}
#bar12 {
    animation: groove_3 1.2s infinite;
    animation-timing-function: linear;
}
#bar13 {
    animation: groove_2 0.8s infinite;
    animation-timing-function: linear;
}
#bar14 {
    animation: groove_3 1.1s infinite;
    animation-timing-function: linear;
}
#bar15 {
    animation: groove_2 1s infinite;
    animation-timing-function: linear;
}
#bar16 {
    animation: groove_1 0.8s infinite;
    animation-timing-function: linear;
}
#bar17 {
    animation: groove_2 2s infinite;
    animation-timing-function: linear;
}
#bar18 {
    animation: groove_1 2s infinite;
    animation-timing-function: linear;
}


@keyframes groove_1 {
    0% {
        height: 20px;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 20px;
    }
}

@keyframes groove_2 {
    0% {
        height: 28px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 18px;
    }
}

@keyframes groove_3 {
    0% {
        height: 18px;
    }

    50% {
        height: 8px;
    }

    100% {
        height: 18px;
    }
}

@keyframes groove_4 {
    0% {
        height: 18px;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 18px;
    }
}