*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
body.light{
    background-color: #cbc9e0;
}
body.dark{
    background-image: radial-gradient(circle, #171424, black);
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.checkbox i{
    font-size: 1.5em;
}
.checkbox:checked + .label .ball{
    transform: translate(24px);
}
.label {
    background-color: #111;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    width: 50px;
    height: 26px;
}
.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}
.fa-sun{
    color: #f39c12;
}
.fa-moon{
    color: #f1c40f;
}
