*{
    margin: 0;
    padding: 0;
}


#sidebar {
    background: #99ff99;
    float: right;
    width: 20%;
    height: 937px;
}

#main {
    background: #9999ff;
    height: 843px;
    width: 80%;
}

div .screen{
    background: url('/Front/img/원본포레스트.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer {
    position: absolute;
    top: 90%;
    background: #ffcc99;
    height: 10%;
    width: 80%;
}